<div class="span12">
	<div class="row">
		<div class="span11 offset1">
			<h1>Welcome to the A Call To Arms: Star Fleet</h1>
			<h2>Fleet Calculator and Ship Database</h2>
			</div>
		</div>
	<div class="row">
		<div class="span3 offset1">
			<h3>Build It!</h3>
			<p>Use the Fleet Builder calculator to design your fleet simply by clicking the add to fleet button.  Your fleet list will appear on the right and you can add or remove ships from your list one at a time until you have the fleet that YOU want dialed in.  Good luck, commander.</p>
		</div>
		<div class="span3">
			<h3>View It!</h3>
			<p>Once you have finished assigning ships to your fleet you can review each of the ship data sheets by clicking view.</p>
		</div>
		<div class="span3">
			<h3>Print It!</h3>
			<p>Once you are in the ship diagram view you can print a printer friendly ship data card with play aids to keep track of your shields, hull, and critical score for each row of the critical hits table.</p>
		</div>
	</div>
	<div class="row">
		<div class="span11 offset1">
			<h3>Please <%= link_to "sign up", signup_path %> for an account or if you are already a member please <%= link_to "sign in", signin_path %>.</h3>
		</div>
	</div>
</div>
