
<table class="table table-condensed" id="fleet_list">
  	<div id="fleet_list_header"><ul class="nav nav-list">
		<li class="nav-header">Fleet List</li>
	</ul></div>
  <%= render(fleet_list.assigned_ships) %>
  <tr class="total_line">
  	<td colspan="2">Total</td>
  	<td class="total_cell"> <%= fleet_list.total_cost %></td>
  </tr>	
</table>	

<%= button_to 'Delete Assignments', fleet_list, method: :delete, confirm: 'Are you sure?' %>
