<%= form_for(@fleet_list) do |f| %>
  <% if @fleet_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fleet_list.errors.count, "error") %> prohibited this fleet_list from being saved:</h2>

      <ul>
      <% @fleet_list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
