<div class="span9 offset1">
  <h1><%= @user.name.upcase %>, <%= @user.email %></h1>
  <% if @user.role? %>
    <h2><%= @user.role.capitalize %></h2>
  <% else %>
    <h2>Unsubscribed</h2>
  <% end %>
  <%= link_to 'Edit', edit_user_path(@user) %>
</div>