<div class="span9 offset1">
	<h1>Weapon Inventory</h1>

<table class="table table-striped">
  <tr id="weapons_list">
    <%= render "listed_weapons" %>
    </tr>
  </tr>

</table>

<br />	

<div>
    <button type="button" id="add_weapon">New Weapon</button>
    <div id="weapon_form", class="hidden"><%= render 'weapons/form' %></div>
</div>
</div>