/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

#title {
	background: #9c9;
	padding: 10px;
	border-bottom: 2px solid;
	font: small-caps 50px/50px "Impact";
	color: #282;
	text-align: left;
	height: 80px;
	
	#banner img {
	    position: relative;
		right: 0.8em;
		width: 375px;
		height: 75px;
	}
	
}

#notice {
	color: #000 !important;
	border: 2px solid red;
	padding: 1em;
	margin-bottom: 2em;
	background-color: #f0f0f0;
	font: bold smaller sans-serif;
}

#columns {
	background: #141;
	
	#main {
		margin-left: 17em;
		padding: 1em;
		background: white;
		
		div#ship_header {
		    display: inline;
		
		    .list_image_empire {
		        display: inline;
		    }
		        
		    h2 {
		        position: relative;
		        left: 3em;
		        bottom: 3em;
		        font: bold largest sans-serif;
		    }
		
			p  {
				position: relative;
			    left: 5.55em;
		        bottom: 5.55em;
		        font: italic small sans-serif;
		    }
	
			.list_image_ship {
			    position: relative;
			    bottom: 11.3em;
			    left: 40em;
			    width: 240px;
				height: 280px;
			}    
        }
		
		div#stats{
			position: relative;
			bottom: 25em;
		
	
	        div#traits {
		        position: relative;
		        left: 20em;
		        bottom: 9.7em;

		    }
		}
		
		div#weapons_table {
			position: relative;
			bottom: 30em;
			padding: 2em;
			
			h3 {
				text-align: left;
			}
			
			table {
				border-width: 4px;
				border-spacing: 3px;
				border-style: ridge;
				border-color: white;
				border-collapse: separate;
				background-color: rgb(255, 250, 250);
				
				td {
					border-width: thin;
					padding: 1px;
					border-style: outset;
					border-color: white;
					background-color: white;
						
					#fired {
						border-style: inset;
						border-color: red;
							
					}
				}
			}
		}
	}
	
	#side {
		float: left;
		padding: 1em 2em;
		width: 13em;
		background: #141;
		
		form, div {
		    display: inline;
		}
		
		input {
		    font-size: small;
		}
		
		#fleet_list {
		    font-size: smaller;
		    color: white;
		  
		  table {
		      border-top: 1px dotted #595;
		      border-bottom: 1px dotted #595;
		      margin-bottom: 10px;
		    }
		}
		
		ul {
			padding: 0;
			
			li {
				list-style: none;
				
				a {
					color: #bfb;
					font-size: small;
				}
			}
		}
	}
}
