@import 'bootstrap';
.hidden {
	display: none;
}
.logo {
	height: 100px;
	width: 500px;
	float: left;

}

.list_image_empire {
	height: 120px;
	width: 120px;
	float: left;
}
.list_image_ship {
	height: 120px;
	width: 120px;
	float: inherit;
	border: 1px solid;
}

#name_plate {
	position: relative;
	height: 150px;
	div#plate_1{
		position: absolute;
		top: 0;
		left: 0;
		width: 500px;
		height: 100px;
		margin-top: 30px;
		margin-left: 30px;
	}
	div#plate_2 {
		height: 120px;
		width: 120px;
		position: absolute;
		top: 0;
		right: 0;
		border: 1px solid;
		margin-top: 30px;
		margin-right: 30px;
		.list_image_ship {
			height: 60px;
			width: 60px;
			float: inherit;
			border: 1px solid;
		}
	}
}

div#crits_table {
	h3 {
		margin-bottom: 10px;
	}
	table {
	
		.row_header {
			font-size: medium;
			font-weight: bold;
			white-space: nowrap;
		}
		tr {
			table-layout: fixed;
			height: 100px;
			td {
				table-layout: fixed;
				width: 10%;
				font-size: xx-small;
				font-weight: bold;
				.checkboxes, tr {
					table-layout: fixed;
					height: 5px;
					background-color: #c2c3bf;
					border-color: #0886d3;
					td {
						background-color: #c2c3bf;
						font-size: xx-small;
						font-weight: normal;
						text-align: left;
					}
				}
			}
		}
	}
}

/*Fleet Index Listing*/
#fleet_index {
	display: inline;
	border-top: 2px dashed blue;
	img {
		height: 90px;
		width: 90px;
	}
}
div#fleet_list {
	font-size: x-small;
}

/*Ship data form*/
div#ship_entry_fields {
	div#fields {
		display: inline;
	}
}
table#fleet_list {
	margin-top: 20px;
}


