/* remove and hidden class tags are used to hide and 
add elements for printing*/
.remove {
	display: none;
}
.hidden {
	display: inline;
	.line {
		position: relative;
		left: 40px;
		bottom : 10px;
		border-bottom: 1px solid black;
		width: 200px;
	}
}
#the_actual_crit_table {
	border: 2px solid black;
	font-family: serif;
	.checkboxes {
		border: 2px solid;
	}
}
table#damage_track {
	table-layout: fixed;
	border: 2px solid black;
	width: 100%;
	font-weight: bold;
	td {
		text-align: center;
		background-color: grey;
	}
}
table#shields_track {
		table-layout: fixed;
		border: 2px solid blue;
		width: 100%;

}
.offset2 {
	position: relative;
	left: -90px;
}