<% if assigned_ship == @current_assigned_ship%>
<tr id="current_assigned_ship">
	<% else %>	
<tr>
	<% end %>
  	<td><%= assigned_ship.quantity %>&times;</td>
  	<td><%= assigned_ship.ship.name%></td>
  	<td class="ship_cost"><%= assigned_ship.total_cost%></td>
 </tr>